{% extends "base.html" %}

{% block content %}






<style>
    .table-container {
        max-height: calc(100vh - 120px);
        overflow-y: auto;
    }


    tbody tr:nth-child(even) {
        background-color: #ebf5ff;
        /* Background color for even rows */
    }

    tbody tr:nth-child(odd) {
        background-color: white;
        /* Background color for odd rows */
    }


    .user-not-selecting {
        opacity: 0.5;
        /* Saydamlık ayarını değiştirerek öğeyi daha veya daha az inaktif hale getirebilirsiniz. */
        pointer-events: none;
        /* Kullanıcı etkileşimini devre dışı bırakmak için */
    }

    /* #modal-container {
        max-height: 78%;
        padding: 10px;
    } */

    @media (max-width: 600px) {
        #modal-conteiner {
            max-height: 60%;
            padding: 5px;
        }
    }

    @media (max-width: 400px) {
        #modal-conteiner {
            max-height: 60%;
        }


    }
</style>

<!-- <button onclick="beklemeyeAl(1)">Beklemeye Al</button>
<span id="gerisayim-1"></span> -->

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="table-container max-h-500">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                <tr>

                    <th scope="col"
                        class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400"
                        style="
                        width: 100px;">
                        Durum
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-xl  sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                        Parsel No
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                        İl
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                        İlçe
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                        M²
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                        Fiyat
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                        Mevki
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                        Ada
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                        Bekleme
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                        İşlem
                    </th>
                </tr>
            </thead>
            <tbody id="table-body">







            </tbody>
        </table>
    </div>

</div>






<!-- Modal tetikleyici buton -->
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded hidden" id="modal-trigger">Modal
    Aç</button>
{% csrf_token %}

<!-- Modal -->
<div class="modal fixed hidden inset-0 z-50 overflow-auto bg-gray-800 bg-opacity-10 flex justify-center items-center"
    id="modal" style="background-color: #37415160;">

    <div class="modal-content bg-white p-4 rounded shadow-lg" style="width: 70%; height: 85vh;">





        <div style="display: flex; align-items: center; justify-items: center; justify-content: center;">
            <h1 class="text-4xl font-medium text-gray-900 white:text-white">SATIŞ TAKİP FORMU</h2>
                <input type="text" id="parcel_id"
                    class="hidden border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500">
        </div>

        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-300">




        <div style="width: 100%; height: 78%; overflow: auto;" id="modal-conteiner">


            <div style="display: flex; align-items: center; justify-items: center; justify-content: center;">
                <h3 class="text-2xl font-medium text-gray-900 white:text-white">PROJE BİLGİLERİ</h2>

            </div>
            <br>

            <div class="grid gap-4 mb-4 md:grid-cols-2">
                <div>
                    <label for="project_name"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Proje</label>
                    <input type="text" id="project_name"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="Proje adı" required>
                </div>
                <div>
                    <label for="satis_danismani"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Satış
                        Danışmanı</label>
                    <input type="text" id="satis_danismani"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required value="{{ current_user.first_name }} {{ current_user.last_name }}">
                </div>
                <div>
                    <label for="satis_tarihi"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Satış
                        Tarihi</label>
                    <input type="date" id="satis_tarihi"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>
                <div>
                    <label for="referans"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Referans</label>
                    <input type="tel" id="referans"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="Referans" required>
                </div>

            </div>


            <div class="grid gap-4 mb-4 md:grid-cols-4">

                <div>
                    <label for="ada" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Ada</label>
                    <input type="text" id="ada"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="Ada" required>
                </div>
                <div>
                    <label for="parcel"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Parsel</label>
                    <input type="text" id="parcel"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="Parsel" required>
                </div>
                <div>
                    <label for="m2_bilgisi"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">M2</label>
                    <input type="text" id="m2_bilgisi"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="M2" required>
                </div>
                <div>
                    <label for="hisse_adedi" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Hisse
                        Adedi</label>
                    <input type="text" id="hisse_adedi"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="Hisse Adedi" required>
                </div>


            </div>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-300">

            <div style="display: flex; align-items: center; justify-items: center; justify-content: center;">
                <h3 class="text-2xl font-medium text-gray-900 white:text-white">ALICI BİLGİLERİ</h2>

            </div>
            <br>

            <div class="grid gap-4 mb-4 md:grid-cols-1">
                <div>
                    <label for="firma_ad_soyad"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Adı
                        Soyadı / Firma
                        Unvanı</label>
                    <input type="text" id="firma_ad_soyad"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>
                <div>
                    <label for="TC_vergi_no" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">TC
                        Numarası / Vergi Numarası</label>
                    <input type="text" id="TC_vergi_no"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>
            </div>



            <div class="grid gap-4 mb-4 md:grid-cols-1">
                <div>
                    <label for="adres1" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Adres
                        1</label>
                    <input type="text" id="adres1"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>
                <div>
                    <label for="adres2" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Adres
                        2</label>
                    <input type="text" id="adres2"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>
                <div>
                    <label for="eposta"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">E-posta</label>
                    <input type="email" id="eposta"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>
                <div>
                    <label for="telefon_no"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Telefon</label>
                    <input type="text" id="telefon_no"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>
                <div>
                    <label for="meslek_bilgisi"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Meslek
                        Bilgisi</label>
                    <input type="text" id="meslek_bilgisi"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>

            </div>

            <div class="grid gap-4 mb-4 md:grid-cols-2">
                <div>
                    <label for="ulasamadigi_durumda_aranacak_kisi"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Ulaşılamadığı
                        Durumlarda Aranacak Kişi</label>
                    <input type="text" id="ulasamadigi_durumda_aranacak_kisi"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>
                <div>
                    <label for="ulasamadigi_durumda_aranacak_kisi_telefon_no"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Telefon No</label>
                    <input type="text" id="ulasamadigi_durumda_aranacak_kisi_telefon_no"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>
            </div>



            <hr class="h-px my-8 bg-gray-200 border-0 white:bg-gray-300">

            <div style="display: flex; align-items: center; justify-items: center; justify-content: center;">
                <h3 class="text-2xl font-medium text-gray-900 white:text-white">ÖDEME BİLGİLERİ</h2>

            </div>
            <br>


            <div class="grid gap-4 mb-4 md:grid-cols-3">
                <div>
                    <label for="satis_fiyati"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Satış
                        Fiyatı</label>
                    <input type="text" id="satis_fiyati"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>
                <div>
                    <label for="on_odeme_tutari"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Ön
                        Ödeme Tutarı</label>
                    <input type="text" id="on_odeme_tutari"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>
                <div>
                    <label for="odeme_tarihi"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Ödeme
                        Tarihi</label>
                    <input type="date" id="odeme_tarihi"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>

                <div class="flex items-center justify-center">
                    <div class="flex items-center mr-5">
                        <input checked id="pesin_odeme" type="radio" value="" name="default-radio"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 white:focus:ring-blue-600 white:ring-offset-gray-800 focus:ring-2 white:bg-gray-700 white:border-gray-600">
                        <label for="pesin_odeme"
                            class="ml-2 text-sm font-medium text-gray-900 white:text-gray-300">Peşin</label>
                    </div>
                    <div class="flex items-center mr-5">
                        <input id="banka_odeme" type="radio" value="" name="default-radio"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 white:focus:ring-blue-600 white:ring-offset-gray-800 focus:ring-2 white:bg-gray-700 white:border-gray-600">
                        <label for="banka_odeme"
                            class="ml-2 text-sm font-medium text-gray-900 white:text-gray-300">Banka</label>
                    </div>
                    <div class="flex items-center">
                        <input id="vadeli_odeme" type="radio" value="" name="default-radio"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 white:focus:ring-blue-600 white:ring-offset-gray-800 focus:ring-2 white:bg-gray-700 white:border-gray-600">
                        <label for="vadeli_odeme"
                            class="ml-2 text-sm font-medium text-gray-900 white:text-gray-300">Vadeli</label>
                    </div>
                </div>

                <div>
                    <label for="pesinat_tutari"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Peşinat
                        Tutarı</label>
                    <input type="text" id="pesinat_tutari"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>

                <div>
                    <label for="pesinat_tarihi"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Peşinat Tarihi</label>
                    <input type="date" id="pesinat_tarihi"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>





            </div>



            <div class="grid gap-4 mb-4 md:grid-cols-3">

                <div>
                    <label for="m2_birim_fiyati"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">M2
                        Birim Fiyatı</label>
                    <input type="text" id="m2_birim_fiyati"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="" required>
                </div>
                <div>
                    <label for="aciklama_bigisi"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Açılama</label>
                    <input type="text" id="aciklama_bigisi"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="">
                </div>
                <div>
                    <label for="ek_bilgiler"
                        class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Ekler</label>
                    <input type="text" id="ek_bilgiler" value="Kimlik Fotokopisi"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                        placeholder="">
                </div>

            </div>





        </div>


















        <div style="display: flex; border-top: 1px solid #ccc; margin-top: 5px; max-height: 70px;">

            <button class="bg-red-700 hover:bg-red-800 text-white font-bold py-2 px-4 rounded mt-4" id="modal-close"
                style="right: 0; margin-left: auto; margin-right: 10px;">Kapat</button>

            <button class="text-white bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded mt-4"
                style="margin-right: 30px;" id="modal-save">Kaydet</button>

        </div>
    </div>


</div>








<script>

const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    document.addEventListener("DOMContentLoaded", () => {

        getParcels(current_parcel);

    });

    // var parcel_waiting_value = 1;
    var current_parcel_price = 1;
    var current_parcel = "ŞAHİNLİ";

    function showModal(parsel_no, il, ilce, ada, parsel, m2, parcel_id) {
        document.getElementById('modal').classList.remove('hidden');

        var pacel_id_cont = document.getElementById('parcel_id');
        pacel_id_cont.value = parcel_id;

        // var satis_danismani = document.getElementById('satis_danismani');

        // satis_danismani.value = satis_danismani;
        var ada_cont = document.getElementById('ada');
        var parsel_cont = document.getElementById('parcel');
        var m2_cont = document.getElementById('m2_bilgisi');


        ada_cont.value = ada;
        parsel_cont.value = parsel;
        m2_cont.value = m2;



        var today = new Date();

        // YYYY-AA-GG biçiminde tarihi formatla
        var formattedDate = today.getFullYear() + '-' + (today.getMonth() + 1).toString().padStart(2, '0') + '-' + today.getDate().toString().padStart(2, '0');

        // Input elementinin value özelliğine atama yap
        document.getElementById('project_name').value = `${parsel_no} ${il} ${ilce}`;
        document.getElementById('satis_tarihi').value = formattedDate;
        document.getElementById('odeme_tarihi').value = formattedDate;
        document.getElementById('pesinat_tarihi').value = formattedDate;

        document.getElementById('m2_birim_fiyati').value = current_parcel_price;

        document.getElementById('aciklama_bigisi').value = 'Ek Bilgiler';

    }



    // Modal kapatma işlemi
    document.getElementById('modal-close').addEventListener('click', function () {
        document.getElementById('modal').classList.add('hidden');
    });

    document.getElementById('modal').addEventListener('click', function (event) {
        if (event.target === this) {
            this.classList.add('hidden');
        }
    });



    function set_user_parcel_waiting_permit(parsel_id, il, ilce) {

        console.log('{{ current_user.first_name }} {{ current_user.last_name }}', );




        fetch('/set-user-parcel-waiting-permit/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken, // Django CSRF koruma token'ı
            },
            body: JSON.stringify({
            name: '{{ current_user.first_name }} {{ current_user.last_name }}',
            parsel_data: `${parsel_id} ${il} ${ilce}`
        }), // formData nesnesini JSON'a dönüştürdüğünüzü varsayalım
        })
            .then(response => response.json())
            .then(data => {

               


            })
            .catch(error => {
                console.error('Hata:', error);
            });



    }



    function calculateRemainingTime(startTimestamp, endTimestamp) {
        // Tarihleri JavaScript Date nesnelerine dönüştürün
        const startTime = new Date(startTimestamp);
        const endTime = new Date(endTimestamp);

        // Şu anki tarihi alın
        const currentTime = new Date();

        // Kalan süreyi hesaplayın (dakika cinsinden)
        const remainingMinutes = Math.ceil((endTime - currentTime) / (1000 * 60));

        if (remainingMinutes > 0) {
            return `${remainingMinutes - 180} dakika kaldı`;
        } else {
            return "";
        }
    }


    async function createParcel(data) {
        try {

            const response = await fetch('/get-current-user-waiting-count/'); // API'nizin URL'sini buraya ekleyin
            const responseData = await response.json();
            var parcel_waiting_value = parseInt(responseData.waiting_count);

            var table_body = document.getElementById('table-body');
            table_body.innerHTML = "";
            var table_html = "";

            var pacel_id_cont = document.getElementById('parcel_id');

            var parcel_waiting_count = 0;

            for (let i = 0; i < Object.keys(data).length; i++) {
                if (data[i].bekleten_kullanici == "{{ current_user.first_name }} {{ current_user.last_name }}") {
                    parcel_waiting_count++;
                }
            }

            var all_waiting_parcel = parcel_waiting_count >= parcel_waiting_value ? "user-not-selecting" : "";



console.log(data);


            for (let i = 0; i < Object.keys(data).length; i++) {




                var user_id = data[i].user_id;

                if (user_id == "None" || user_id == JSON.parse(" {{ current_user.id }}")) {
                    var user_select = "";

                } else {
                    var user_select = "user-not-selecting";
                }

                var parcel_m2 = parseInt(data[i].m2_net);

                pacel_id_cont.value = `${data[i].id}`;

                if (data[i].durum == "uygun") {
                    var icon_color = "#057A55";

                    var current_user_not_procces_parcel = "";
                    var current_user_not_procces_waiting_time = "";


                } else if (data[i].durum == "beklemede") {
                    var icon_color = "#E3A008";
                    var current_user_not_procces_parcel = "user-not-selecting";
                    var current_user_not_procces_waiting_time = "user-not-selecting";


                } else if (data[i].durum == "onaylandi") {
                    var icon_color = "#C81E1E";
                    var current_user_not_procces_parcel = "user-not-selecting";
                    var current_user_not_procces_waiting_time = "user-not-selecting";


                } else if (data[i].durum == "kısa_bekleme") {
                    var icon_color = "blue";
                    var current_user_not_procces_parcel = "user-not-selecting";
                    var current_user_not_procces_waiting_time = "";

                }


                console.log(user_select);
                if (data[i].bekleten_kullanici == "None") {


                    var waiting_html = `
                <a  onclick="parcel_waiting(${data[i].id})" class="font-medium text-blue-600 dark:text-blue-500 hover:underline ${current_user_not_procces_waiting_time} ${all_waiting_parcel}">
                    <span class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-3 py-1.5 rounded dark:bg-yellow-900 dark:text-yellow-300">Beklemeye Al</span>
                </a>`;

                    if (!all_waiting_parcel == '') {

                        var waiting_html = `
                <a  onclick="set_user_parcel_waiting_permit('${data[i].parsel}', '${data[i].il}', '${data[i].ilce}' )" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                    <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-3 py-1.5 rounded dark:bg-gray-700 dark:text-gray-300">İzin iste</span>

                </a>`;
                    }
                  



                } else {
                    var waiting_html = `
                <a  onclick="parcel_waiting_remove(${data[i].id})" class="font-medium text-blue-600 dark:text-blue-500 hover:underline ${current_user_not_procces_waiting_time}">
                    <span class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-3 py-1.5 rounded dark:bg-red-900 dark:text-red-300">Durdur</span>
                </a>`;
                }


                var html = `
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 ${user_select}">
                
                <td class="px-6 py-4  text-lg">
                    <svg class="w-16 h-16 light:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"
                        style="min-height: 16px; color: ${icon_color};">
                        <path
                            d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                    </svg>
                    
                </td>
                <td scope="row" class="text-lg px-6 py-4 font-medium  whitespace-nowrap dark:text-white">
                    ${data[i].parsel}
                </td>
                <td class="px-6 py-4 text-lg">
                    ${data[i].il}

                </td>
                <td class="px-6 py-4 text-lg">
                    ${data[i].ilce} 

                </td>
                <td class="px-6 py-4 text-lg">
                    ${parcel_m2}  M²

                </td>

                <td class="px-6 py-4 text-lg">
                    ${data[i].fiyat} TL

                </td>
                
                <td class="px-6 py-4 text-lg">
                    ${data[i].mevki}

                </td>
                <td class="px-6 py-4 text-lg">
                    ${data[i].ada}

                </td>
                <td class="px-6 py-4 text-lg ${""}">
                   
                    ${waiting_html}
                    <span class="remaining-time">${calculateRemainingTime(data[i].bekleme_suresi_baslangic, data[i].bekleme_suresi_bitisi)}</span>

               </td>
                <td class="px-6 py-4 text-lg ${current_user_not_procces_parcel}">
                   
                    <a onclick="showModal('${data[i].parsel}', '${data[i].il}', '${data[i].ilce}', ${data[i].ada}, ${data[i].parsel}, ${parcel_m2}, ${data[i].id})" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-3 py-1.5 rounded dark:bg-green-900 dark:text-green-300">Seç</span>
                    </a>
                </td>
            </tr>
                        
                        `;
                table_html += html;

            }

            table_body.innerHTML = table_html;
        } catch (error) {
            console.error('Hata:', error);
        }


    }




    // API'den verileri çekmek için fetch kullanımı

    function getParcels(mevki) {



        fetch(`/parcels/?mevki=${mevki}`)  // API'nizin URL'sini buraya ekleyin
            .then(response => response.json())
            .then(data => {
                // Verileri başarılı bir şekilde aldık ve konsolda yazdırıyoruz



                current_parcel = mevki;
                getParcelPrice();
                createParcel(data);


            })
            .catch(error => {
                // Hata durumunda konsolda hatayı yazdırıyoruz
                console.error('Hata:', error);
            });


        if (mevki == "ŞAHİNLİ") {

            document.getElementById('sub-title').innerHTML = "ÇANAKKALE ARMONİ";

        } else if (mevki == "ORMANKÖY") {
            document.getElementById('sub-title').innerHTML = "KOCAELİ ORMANKÖY";

        } else if (mevki == "ELBEYLİ") {
            document.getElementById('sub-title').innerHTML = "İZNİK";

        } else if (mevki == "ÇAMOBA") {
            document.getElementById('sub-title').innerHTML = "AYVALIK ÇAMOBA";

        } else if (mevki == "YEŞİLYAYLA") {
            document.getElementById('sub-title').innerHTML = "DÜZCE GÜMÜŞOVA";

        }


    }







    // Kaydet butonuna tıklanınca çalışacak fonksiyon
    document.getElementById('modal-save').addEventListener('click', function () {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        // Formdaki verileri topla
        const formData = {
            project_name: document.getElementById('project_name').value,
            satis_danismani: document.getElementById('satis_danismani').value,
            satis_tarihi: document.getElementById('satis_tarihi').value,
            referans: document.getElementById('referans').value,
            ada: document.getElementById('ada').value,
            parcel_no: document.getElementById('parcel').value,
            m2_bilgisi: document.getElementById('m2_bilgisi').value,
            hisse_adedi: document.getElementById('hisse_adedi').value,
            firma_ad_soyad: document.getElementById('firma_ad_soyad').value,
            TC_vergi_no: document.getElementById('TC_vergi_no').value,
            adres1: document.getElementById('adres1').value,
            // adres2: document.getElementById('adres2').value,
            eposta: document.getElementById('eposta').value,
            telefon_no: document.getElementById('telefon_no').value,
            meslek_bilgisi: document.getElementById('meslek_bilgisi').value,
            // ulasamadigi_durumda_aranacak_kisi: document.getElementById('ulasamadigi_durumda_aranacak_kisi').value,
            // ulasamadigi_durumda_aranacak_kisi_telefon_no: document.getElementById('ulasamadigi_durumda_aranacak_kisi_telefon_no').value,
            satis_fiyati: document.getElementById('satis_fiyati').value,
            on_odeme_tutari: document.getElementById('on_odeme_tutari').value,
            odeme_tarihi: document.getElementById('odeme_tarihi').value,
            pesin_odeme: document.getElementById('pesin_odeme').checked,
            banka_odeme: document.getElementById('banka_odeme').checked,
            vadeli_odeme: document.getElementById('vadeli_odeme').checked,
            pesinat_tutari: document.getElementById('pesinat_tutari').value,
            pesinat_tarihi: document.getElementById('pesinat_tarihi').value,
            m2_birim_fiyati: document.getElementById('m2_birim_fiyati').value,
            aciklama_bigisi: document.getElementById('aciklama_bigisi').value,
            ek_bilgiler: document.getElementById('ek_bilgiler').value,
            parsel_id: document.getElementById('parcel_id').value

        };




        // Tüm değerlerin dolu olup olmadığını kontrol et
        let isFormDataValid = true;

        for (const key in formData) {
            if (formData.hasOwnProperty(key)) {
                const value = formData[key];
                const inputElement = document.getElementById(key);
                if (typeof value === 'string' && value.trim() === '') {
                    isFormDataValid = false;

                    inputElement.classList.add('border-red-500'); // Kırmızı kenarlık sınıfını ekle
                    inputElement.classList.add('bg-red-50'); // Kırmızı kenarlık sınıfını ekle
                } else {

                    try {
                        inputElement.classList.remove('border-red-500'); // Kırmızı kenarlık sınıfını kaldır
                        inputElement.classList.remove('bg-red-50'); // Kırmızı kenarlık sınıfını kaldır

                    } catch {

                    }
                }
            }
        }


        if (isFormDataValid) {
            // Veri geçerli, devam edebilirsiniz.
            // formData nesnesi şimdi tüm input alanlarının değerlerini içeriyor
            fetch('/save-form-data/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken, // Django CSRF koruma token'ı
                },
                body: JSON.stringify(formData), // formData nesnesini JSON'a dönüştürdüğünüzü varsayalım
            })
                .then(response => response.json())
                .then(data => {
                    getParcels(current_parcel);
                    document.getElementById('modal').classList.add('hidden');

                })
                .catch(error => {
                    console.error('Hata:', error);
                });
        }


    });


    function parcel_waiting(parcel_id) {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;


        fetch('/set-parcel-waiting/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken, // Django CSRF koruma token'ı
            },
            body: JSON.stringify({
                "parcel_id": parcel_id


            }), // formData nesnesini JSON'a dönüştürdüğünüzü varsayalım
        })
            .then(response => response.json())
            .then(data => {

                getParcels(current_parcel);
                console.log("sdfsd");


            })
            .catch(error => {
                console.error('Hata:', error);
            });

    }


    function parcel_waiting_remove(parcel_id) {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;


        fetch('/set-parcel-waiting-remove/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken, // Django CSRF koruma token'ı
            },
            body: JSON.stringify({
                "parcel_id": parcel_id


            }), // formData nesnesini JSON'a dönüştürdüğünüzü varsayalım
        })
            .then(response => response.json())
            .then(data => {

                getParcels(current_parcel);


            })
            .catch(error => {
                console.error('Hata:', error);
            });

    }



    function getParcelPrice() {
        // Fetch isteği
        fetch(`/parcel-pricing-filter/?mevki=${current_parcel}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Veri çekme hatası: ' + response.status);
                }
                return response.json();
            })
            .then(data => {

                // console.log(data);
                if (Object.keys(data).length > 0) {
                    current_parcel_price = parseInt(data[0].fiyat);

                } else {
                    current_parcel_price = 0;

                }
            })
            .catch(error => {
                console.error('Veri çekme hatası:', error);
            });


    }



    function getParcelWaiting() {

    }



    // Tüm input elementlerini al
    const inputElements = document.querySelectorAll('input');

    // Boş input alanlarını kontrol et ve kırmızı yap
    function checkEmptyInput(event) {
        const inputElement = event.target;
        if (inputElement.value.trim() === '') {
            // inputElement.classList.add('border-red-500'); // Kırmızı kenarlık sınıfını ekle
        } else {
            inputElement.classList.remove('border-red-500'); // Kırmızı kenarlık sınıfını kaldır
            inputElement.classList.remove('bg-red-50'); // Kırmızı kenarlık sınıfını kaldır

        }
    }

    // Input değişikliklerinde kontrol et
    inputElements.forEach(function (inputElement) {
        inputElement.addEventListener('input', checkEmptyInput); // Input değişikliğinde çalışır
    });


</script>



{% endblock %}