<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% load static %}

</head>

<body >


    <style>

        #login-image {
            background-image: url("{% static '/login-page.png' %}");
        }



    </style>
   

<div class="h-screen" style="padding-top: 50px; background-color: #415a3f;">

    <form method="post" action="{% url 'login' %}" style="background-color: #415a3f;" >
        {% csrf_token %}
        <!-- <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login"> -->

        <div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg :bg-gray-800 lg:max-w-5xl" style="margin-top: 7%;">
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
    

            <div class="hidden bg-cover lg:block lg:w-1/2" id="login-image"></div>

        
            

            <div class="w-full px-6 py-8 md:px-8 lg:w-1/2">
                
                <br>
                <br>
                
                <div class="flex justify-center mx-auto mb-4">
                    <img class="w-auto h-16 " src="{% static 'images/Nova_Arsa_Logo.png' %}" alt="">
                </div>

    
                <div class="mt-4">
                    <label class="block mb-2 text-sm font-medium text-gray-600 :text-gray-200"
                        for="LoggingUsername">Username</label>
                    <input id="LoggingUsername" name="username"
                        class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-lg :bg-gray-800 :text-gray-300 :border-gray-600 focus:border-blue-400 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-300"
                        type="text" />
                </div>

                <div class="mt-4">
                    <div class="flex justify-between">
                        <label class="block mb-2 text-sm font-medium text-gray-600 :text-gray-200"
                            for="loggingPassword">Password</label>

                    </div>

                    <input id="loggingPassword" name="password"
                        class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-lg :bg-gray-800 :text-gray-300 :border-gray-600 focus:border-blue-400 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-300"
                        type="password" />
                </div>

                <div class="mt-6">
              
                    <input type="submit" value="Login"
                        class="w-full px-6 py-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-green-900 rounded-lg hover:bg-green-700 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50">

                </div>

            </div>
        </div>

    </form>





</div>






























































</body>

</html>



































