<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Arsa</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <style>
        a {
            cursor: pointer;
        }

        .table-container {
            max-height: calc(100vh - 190px);
            overflow-y: auto;
        }

        tbody tr:nth-child(even) {
            background-color: #ebf5ff;
        }

        tbody tr:nth-child(odd) {
            background-color: white;
        }


        @media (max-width: 600px) {
            #modal-conteiner {
                max-height: 60%;
                padding: 5px;
            }
        }

        @media (max-width: 400px) {
            #modal-conteiner {
                max-height: 60%;
            }


        }

        #sub-title {
            display: none;
        }
    </style>
</head>

<body>
    {% csrf_token %}




    <div class="modal hidden fixed inset-0 z-50 overflow-auto  bg-opacity-10 flex justify-center items-center"
        id="modal-small" style="background-color: #37415160;">

        <div class="modal-content bg-white p-4 rounded shadow-lg dark:bg-gray-800">

            <div class="p-6 text-center w-64">
                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Emin misiniz ?</h3>
                <input type="text" id="selected-parcel-id-input" placeholder="sdfds" class="hidden">
                <button type="button" id="selected-parcel-id-yes-button"
                    class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                    Evet
                </button>
                <button type="button" id="modal-close-no"
                    class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                    Hayır</button>
            </div>
        </div>
    </div>







    <!-- Modal -->
    <div class="modal fixed hidden inset-0 z-50 overflow-auto bg-gray-800 bg-opacity-10 flex justify-center items-center"
        id="modal" style="background-color: #37415160;">

        <div class="modal-content bg-white p-4 rounded shadow-lg" style="width: 70%; height: 85vh;">





            <div style="display: flex; align-items: center; justify-items: center; justify-content: center;">
                <h1 class="text-4xl font-medium text-gray-900 white:text-white">SATIŞ TAKİP FORMU</h2>
                    <input type="text" id="parcel_id"
                        class="border hidden border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500">
            </div>

            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-300">




            <div style="width: 100%; height: 78%; overflow: auto;" id="modal-conteiner">


                <div style="display: flex; align-items: center; justify-items: center; justify-content: center;">
                    <h3 class="text-2xl font-medium text-gray-900 white:text-white">PROJE BİLGİLERİ</h2>

                </div>
                <br>

                <div class="grid gap-4 mb-4 md:grid-cols-2">
                    <div>
                        <label for="project_name"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Proje</label>
                        <input type="text" id="project_name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="Proje adı" required>
                    </div>
                    <div>
                        <label for="satis_danismani"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Satış
                            Danışmanı</label>
                        <input type="text" id="satis_danismani"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required value="{{ current_user.first_name }} {{ current_user.last_name }}">
                    </div>
                    <div>
                        <label for="satis_tarihi"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Satış
                            Tarihi</label>
                        <input type="date" id="satis_tarihi"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>
                    <div>
                        <label for="referans"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Referans</label>
                        <input type="tel" id="referans"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="Referans" required>
                    </div>

                </div>


                <div class="grid gap-4 mb-4 md:grid-cols-4">

                    <div>
                        <label for="ada"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Ada</label>
                        <input type="text" id="ada"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="Ada" required>
                    </div>
                    <div>
                        <label for="parcel"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Parsel</label>
                        <input type="text" id="parcel"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="Parsel" required>
                    </div>
                    <div>
                        <label for="m2_bilgisi"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">M2</label>
                        <input type="text" id="m2_bilgisi"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="M2" required>
                    </div>
                    <div>
                        <label for="hisse_adedi"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Hisse
                            Adedi</label>
                        <input type="text" id="hisse_adedi"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="Hisse Adedi" required>
                    </div>


                </div>
                <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-300">

                <div style="display: flex; align-items: center; justify-items: center; justify-content: center;">
                    <h3 class="text-2xl font-medium text-gray-900 white:text-white">ALICI BİLGİLERİ</h2>

                </div>
                <br>

                <div class="grid gap-4 mb-4 md:grid-cols-1">
                    <div>
                        <label for="firma_ad_soyad"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Adı
                            Soyadı / Firma
                            Unvanı</label>
                        <input type="text" id="firma_ad_soyad"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>
                    <div>
                        <label for="TC_vergi_no"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">TC
                            Numarası / Vergi Numarası</label>
                        <input type="text" id="TC_vergi_no"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>
                </div>



                <div class="grid gap-4 mb-4 md:grid-cols-1">
                    <div>
                        <label for="adres1" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Adres
                            1</label>
                        <input type="text" id="adres1"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>
                    <div>
                        <label for="adres2" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Adres
                            2</label>
                        <input type="text" id="adres2"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>
                    <div>
                        <label for="eposta"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">E-posta</label>
                        <input type="email" id="eposta"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>
                    <div>
                        <label for="telefon_no"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Telefon</label>
                        <input type="text" id="telefon_no"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>
                    <div>
                        <label for="meslek_bilgisi"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Meslek
                            Bilgisi</label>
                        <input type="text" id="meslek_bilgisi"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>

                </div>

                <div class="grid gap-4 mb-4 md:grid-cols-2">
                    <div>
                        <label for="ulasamadigi_durumda_aranacak_kisi"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Ulaşılamadığı
                            Durumlarda Aranacak Kişi</label>
                        <input type="text" id="ulasamadigi_durumda_aranacak_kisi"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>
                    <div>
                        <label for="ulasamadigi_durumda_aranacak_kisi_telefon_no"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Telefon No</label>
                        <input type="text" id="ulasamadigi_durumda_aranacak_kisi_telefon_no"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>
                </div>



                <hr class="h-px my-8 bg-gray-200 border-0 white:bg-gray-300">

                <div style="display: flex; align-items: center; justify-items: center; justify-content: center;">
                    <h3 class="text-2xl font-medium text-gray-900 white:text-white">ÖDEME BİLGİLERİ</h2>

                </div>
                <br>


                <div class="grid gap-4 mb-4 md:grid-cols-3">
                    <div>
                        <label for="satis_fiyati"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Satış
                            Fiyatı</label>
                        <input type="text" id="satis_fiyati"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>
                    <div>
                        <label for="on_odeme_tutari"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Ön
                            Ödeme Tutarı</label>
                        <input type="text" id="on_odeme_tutari"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>
                    <div>
                        <label for="odeme_tarihi"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Ödeme
                            Tarihi</label>
                        <input type="date" id="odeme_tarihi"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>

                    <div class="flex items-center justify-center">
                        <div class="flex items-center mr-5">
                            <input checked id="pesin_odeme" type="radio" value="" name="default-radio"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 white:focus:ring-blue-600 white:ring-offset-gray-800 focus:ring-2 white:bg-gray-700 white:border-gray-600">
                            <label for="pesin_odeme"
                                class="ml-2 text-sm font-medium text-gray-900 white:text-gray-300">Peşin</label>
                        </div>
                        <div class="flex items-center mr-5">
                            <input id="banka_odeme" type="radio" value="" name="default-radio"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 white:focus:ring-blue-600 white:ring-offset-gray-800 focus:ring-2 white:bg-gray-700 white:border-gray-600">
                            <label for="banka_odeme"
                                class="ml-2 text-sm font-medium text-gray-900 white:text-gray-300">Banka</label>
                        </div>
                        <div class="flex items-center">
                            <input id="vadeli_odeme" type="radio" value="" name="default-radio"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 white:focus:ring-blue-600 white:ring-offset-gray-800 focus:ring-2 white:bg-gray-700 white:border-gray-600">
                            <label for="vadeli_odeme"
                                class="ml-2 text-sm font-medium text-gray-900 white:text-gray-300">Vadeli</label>
                        </div>
                    </div>

                    <div>
                        <label for="pesinat_tutari"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Peşinat
                            Tutarı</label>
                        <input type="text" id="pesinat_tutari"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>

                    <div>
                        <label for="pesinat_tarihi"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Peşinat Tarihi</label>
                        <input type="date" id="pesinat_tarihi"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>





                </div>



                <div class="grid gap-4 mb-4 md:grid-cols-3">

                    <div>
                        <label for="m2_birim_fiyati"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">M2
                            Birim Fiyatı</label>
                        <input type="text" id="m2_birim_fiyati"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="" required>
                    </div>
                    <div>
                        <label for="indirim_orani"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">İndirim Oranı</label>
                        <input type="text" id="indirim_orani"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="">
                    </div>
                    <div>
                        <label for="aciklama_bigisi"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Açıklama</label>
                        <input type="text" id="aciklama_bigisi"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="">
                    </div>
                    <div>
                        <label for="ek_bilgiler"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Ekler</label>
                        <input type="text" id="ek_bilgiler" value="Kimlik Fotokopisi"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="">
                    </div>

                    <div>
                        <label for="musteri_iban"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Müşteri Banka/Iban </label>
                        <input type="text" id="musteri_iban"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="">
                    </div>
                    <div>
                        <label for="kampanya_kodu"
                            class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Kampanya Kodu</label>
                        <input type="text" id="kampanya_kodu" value=""
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500"
                            placeholder="">
                    </div>

                </div>





            </div>


















            <div style="display: flex; border-top: 1px solid #ccc; margin-top: 5px; max-height: 70px;">

                <button class="bg-red-700 hover:bg-red-800 text-white font-bold py-2 px-4 rounded mt-4" id="modal-close"
                    style="right: 0; margin-left: auto; margin-right: 10px;">Kapat</button>


                <button class="text-white bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded mt-4"
                    id="editButton">Düzenle</button>


            </div>
        </div>


    </div>



    {% include 'navbar.html' %}




    <div class="p-4 dark:bg-gray-700" id="parent-container">

        <div class="p-4 border-2 border-gray-200  rounded-lg dark:border-gray-900 dark:bg-gray-800 mt-14"
            style="height: calc(100vh - 88px);">

            <a href="{% url 'index' %}">
                <button type="button"
                    class="w-full flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700 mb-6">
                    <svg class="w-5 h-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                    </svg>
                    <span style="margin-left: 5px;">Geri</span>
                </button>
            </a>



            <div class="hidden max-w-xs bg-white border rounded-md shadow-lg dark:bg-gray-800 dark:border-gray-700 absolute top-0 left-1/2 -translate-x-1/2"
                style="margin-top: 70px;" role="alert" id="toast-success">
                <div class="flex p-4">
                    <div class="flex-shrink-0">
                        <svg class="h-4 w-4 text-green-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        <p class="text-sm text-gray-700 dark:text-gray-400">
                            Successfully updated!
                        </p>
                    </div>
                </div>
            </div>



            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <div class="table-container max-h-500">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead
                            class="text-xs text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                            <tr>

                                <th scope="col"
                                    class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400"
                                    style="
                                    width: 100px;">
                                    Durum
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-xl  sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                                    Parsel No
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                                    İl
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                                    İlçe
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                                    M²
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                                    Mevki
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                                    Ada
                                </th>

                                <th scope="col"
                                    class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                                    Form
                                </th>


                                <th scope="col"
                                    class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                                    İndir
                                </th>

                                <th scope="col"
                                    class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                                    İşlem 1
                                </th>

                                <th scope="col"
                                    class="px-6 py-3 text-xl sticky top-0 text-blue-900  bg-gray-100 uppercase  dark:bg-gray-700 dark:text-gray-400">
                                    İşlem 2

                                </th>
                            </tr>
                        </thead>
                        <tbody id="table-body">








                        </tbody>
                    </table>
                </div>

            </div>




        </div>


    </div>



















    <script>
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        // Düzenleme düğmesini seçin
        const editButton = document.getElementById('editButton');

        // Tüm input alanlarını seçin (gerekirse daha fazla ekleyebilirsiniz)
        const inputElements = document.querySelectorAll('input');

        // Düzenleme düğmesine tıklanıp tıklanmadığını takip eden bir değişken
        let isEditing = false;





        function showFormModal(parcelId) {
            document.getElementById('modal').classList.remove('hidden');
            var pacel_id_cont = document.getElementById('parcel_id');
            pacel_id_cont.value = `${parcelId}`;
            // console.log(parcelId);
            // console.log(`${parcelId}`);


            fetch('/get-sales-tracking-form-data/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken, // Django CSRF koruma token'ı
                },
                body: JSON.stringify({
                    parcel_id: parcelId
                }),
            })
                .then(response => response.json())
                .then(data => {

                    console.log(data.data)
                    
                    if (data.data.odeme_turu == "pesin") {
                        document.getElementById('pesin_odeme').checked = true;
                        document.getElementById('banka_odeme').checked = false;
                        document.getElementById('vadeli_odeme').checked = false;

                    } else if (data.data.odeme_turu == "banka") {
                        document.getElementById('pesin_odeme').checked = false;
                        document.getElementById('banka_odeme').checked = true;
                        document.getElementById('vadeli_odeme').checked = false;
                    } else if (data.data.odeme_turu == "vadeli") {
                        document.getElementById('pesin_odeme').checked = false;
                        document.getElementById('banka_odeme').checked = false;
                        document.getElementById('vadeli_odeme').checked = true;
                    }



                    // Veriyi aldıktan sonra input alanlarını doldur
                    document.getElementById('project_name').value = data.data.project_name;
                    document.getElementById('satis_danismani').value = data.data.satis_danismani;
                    document.getElementById('satis_tarihi').value = data.data.satis_tarihi; // Tarih değeri uygun formatta olmalıdır
                    document.getElementById('referans').value = data.data.referans;
                    document.getElementById('ada').value = data.data.ada;
                    document.getElementById('parcel').value = data.data.parcel_no;
                    document.getElementById('m2_bilgisi').value = data.data.m2_bilgisi;
                    document.getElementById('hisse_adedi').value = data.data.hisse_adedi;
                    document.getElementById('firma_ad_soyad').value = data.data.firma_ad_soyad;
                    document.getElementById('TC_vergi_no').value = data.data.TC_vergi_no;
                    document.getElementById('adres1').value = data.data.adres1;
                    document.getElementById('adres2').value = data.data.adres2;
                    document.getElementById('eposta').value = data.data.eposta;
                    document.getElementById('telefon_no').value = data.data.telefon_no;
                    document.getElementById('meslek_bilgisi').value = data.data.meslek_bilgisi;
                    document.getElementById('ulasamadigi_durumda_aranacak_kisi').value = data.data.ulasamadigi_durumda_aranacak_kisi;
                    document.getElementById('ulasamadigi_durumda_aranacak_kisi_telefon_no').value = data.data.ulasamadigi_durumda_aranacak_kisi_telefon_no;
                    document.getElementById('satis_fiyati').value = data.data.satis_fiyati;
                    document.getElementById('on_odeme_tutari').value = data.data.on_odeme_tutari;
                    document.getElementById('odeme_tarihi').value = data.data.odeme_tarihi; // Tarih değeri uygun formatta olmalıdır

                    document.getElementById('pesinat_tutari').value = data.data.pesinat_tutari;
                    document.getElementById('pesinat_tarihi').value = data.data.pesinat_tarihi; // Tarih değeri uygun formatta olmalıdır
                    document.getElementById('m2_birim_fiyati').value = data.data.m2_birim_fiyati;
                    // document.getElementById('indirim_orani').value = data.data.indirim_orani;
                    document.getElementById('aciklama_bigisi').value = data.data.aciklama_bigisi;
                    document.getElementById('ek_bilgiler').value = data.data.ek_bilgiler;
                    document.getElementById('musteri_iban').value = data.data.musteri_iban;
                    document.getElementById('kampanya_kodu').value = data.data.kampanya_kodu;


                    // Sayfa yüklendiğinde tüm input alanlarını devre dışı bırak
                    inputElements.forEach(function (inputElement) {
                        inputElement.disabled = true;
                    });
                })
                .catch(error => {
                    console.error('Hata:', error);
                });
        }



        // Düzenleme düğmesine tıklanıldığında bu işlev çalışır
        editButton.addEventListener('click', function () {
            // Eğer düzenleme modundayken
            if (isEditing) {
                // Tüm input alanlarını devre dışı bırak
                inputElements.forEach(function (inputElement) {
                    inputElement.disabled = true;
                });
                // Düzenleme düğmesi metnini "Düzenle" olarak ayarla
                editButton.textContent = "Düzenle";


                // Düzenleme başlangıç

                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                // Formdaki verileri topla
                const formData = {
                    project_name: document.getElementById('project_name').value,
                    satis_danismani: document.getElementById('satis_danismani').value,
                    satis_tarihi: document.getElementById('satis_tarihi').value,
                    referans: document.getElementById('referans').value,
                    ada: document.getElementById('ada').value,
                    parcel_no: document.getElementById('parcel').value,
                    m2_bilgisi: document.getElementById('m2_bilgisi').value,
                    hisse_adedi: document.getElementById('hisse_adedi').value,
                    firma_ad_soyad: document.getElementById('firma_ad_soyad').value,
                    TC_vergi_no: document.getElementById('TC_vergi_no').value,
                    adres1: document.getElementById('adres1').value,
                    // adres2: document.getElementById('adres2').value,
                    eposta: document.getElementById('eposta').value,
                    telefon_no: document.getElementById('telefon_no').value,
                    meslek_bilgisi: document.getElementById('meslek_bilgisi').value,
                    // ulasamadigi_durumda_aranacak_kisi: document.getElementById('ulasamadigi_durumda_aranacak_kisi').value,
                    // ulasamadigi_durumda_aranacak_kisi_telefon_no: document.getElementById('ulasamadigi_durumda_aranacak_kisi_telefon_no').value,
                    satis_fiyati: document.getElementById('satis_fiyati').value,
                    on_odeme_tutari: document.getElementById('on_odeme_tutari').value,
                    odeme_tarihi: document.getElementById('odeme_tarihi').value,
                    pesin_odeme: document.getElementById('pesin_odeme').checked,
                    banka_odeme: document.getElementById('banka_odeme').checked,
                    vadeli_odeme: document.getElementById('vadeli_odeme').checked,
                    pesinat_tutari: document.getElementById('pesinat_tutari').value,
                    pesinat_tarihi: document.getElementById('pesinat_tarihi').value,
                    m2_birim_fiyati: document.getElementById('m2_birim_fiyati').value,
                    indirim_orani: document.getElementById('indirim_orani').value,
                    aciklama_bigisi: document.getElementById('aciklama_bigisi').value,
                    ek_bilgiler: document.getElementById('ek_bilgiler').value,
                    parsel_id: document.getElementById('parcel_id').value

                };




                // Tüm değerlerin dolu olup olmadığını kontrol et
                let isFormDataValid = true;

                for (const key in formData) {
                    if (formData.hasOwnProperty(key)) {
                        const value = formData[key];
                        const inputElement = document.getElementById(key);
                        if (typeof value === 'string' && value.trim() === '') {
                            isFormDataValid = false;

                            inputElement.classList.add('border-red-500'); // Kırmızı kenarlık sınıfını ekle
                            inputElement.classList.add('bg-red-50'); // Kırmızı kenarlık sınıfını ekle
                        } else {

                            try {
                                inputElement.classList.remove('border-red-500'); // Kırmızı kenarlık sınıfını kaldır
                                inputElement.classList.remove('bg-red-50'); // Kırmızı kenarlık sınıfını kaldır

                            } catch {

                            }
                        }
                    }
                }

                console.log(isFormDataValid);

                if (isFormDataValid) {
                    // Veri geçerli, devam edebilirsiniz.
                    // formData nesnesi şimdi tüm input alanlarının değerlerini içeriyor
                    fetch('/edit-form-data/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken, // Django CSRF koruma token'ı
                        },
                        body: JSON.stringify(formData), // formData nesnesini JSON'a dönüştürdüğünüzü varsayalım
                    })
                        .then(response => response.json())
                        .then(data => {
                            // console.log(data);
                            // getParcels(current_parcel);
                            // document.getElementById('modal').classList.add('hidden');

                        })
                        .catch(error => {
                            console.error('Hata:', error);
                        });
                }

                getParcels(JSON.parse(" {{ current_user.id }}"));
                document.getElementById('modal').classList.add('hidden');

            } else { // Eğer düzenleme modunda değilse
                // Tüm input alanlarını düzenlenebilir yap
                inputElements.forEach(function (inputElement) {
                    inputElement.disabled = false;
                });
                // Düzenleme düğmesi metnini "Kaydet" olarak ayarla
                editButton.textContent = "Kaydet";


            }
            // Düzenleme modunu tersine çevir
            isEditing = !isEditing;
        });






        function download_form(parcelID) {
            fetch('/download-form-data-docx/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken, // Django CSRF koruma token'ı
                },
                body: JSON.stringify({
                    parcel_id: parcelID
                }), // formData nesnesini JSON'a dönüştürdüğünüzü varsayalım
            })
                .then(response => response.blob())
                .then(blob => {
                    // DOCX dosyasını indirme bağlantısını oluşturun
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    a.download = 'indirilen_dosya.docx';
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => {
                    console.error('Hata:', error);
                });
        }




        getParcels(JSON.parse(" {{ current_user.id }}"));


        function getParcels(user_id) {

            fetch(`/parcels/?user_id=${user_id}`)  // API'nizin URL'sini buraya ekleyin
                .then(response => response.json())
                .then(data => {
                    // Verileri başarılı bir şekilde aldık ve konsolda yazdırıyoruz
                    createParcel(data);


                })
                .catch(error => {
                    // Hata durumunda konsolda hatayı yazdırıyoruz
                    console.error('Hata:', error);
                });


        }

        // ----------------------------
        function onaylaButtonClick(parcel_id) {
            document.getElementById('modal-small').classList.remove('hidden');

            var modal_id_input = document.getElementById('selected-parcel-id-input');
            modal_id_input.value = parcel_id;

            var yesButton = document.getElementById('selected-parcel-id-yes-button');
            yesButton.onclick = onaylaModalClickYesButton;
        }


        function cikarButtonClick(parcel_id) {
            document.getElementById('modal-small').classList.remove('hidden');

            var modal_id_input = document.getElementById('selected-parcel-id-input');
            modal_id_input.value = parcel_id;

            var yesButton = document.getElementById('selected-parcel-id-yes-button');
            yesButton.onclick = cikarModalClickButton;

        }







        function onaylaModalClickYesButton() {
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            const newDurum = 'onaylandi';
            const parcelId = document.getElementById('selected-parcel-id-input').value;

            fetch(`/approve-parcel-user-list/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken, // Django CSRF koruma token'ı

                },
                body: JSON.stringify({
                    durum: newDurum,
                    parcel_id: parcelId
                }),
            })
                .then(response => {
                    if (response.ok) {
                        // Güncelleme başarılı
                        // console.log('Durum başarıyla güncellendi.');
                        getParcels(JSON.parse(" {{ current_user.id }}"));

                        // İsteğe bağlı olarak sayfayı yenileyebilir veya gerekli işlemleri yapabilirsiniz.
                    } else {
                        // Güncelleme başarısız
                        console.error('Durum güncelleme hatası:', response.status);
                    }
                })
                .catch(error => {
                    console.error('İstek hatası:', error);
                });

            document.getElementById('modal-small').classList.add('hidden');
            showAndHideToast();

        }






        function cikarModalClickButton() {


            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const newUser_id = 'None';  // Yeni user_id değerini burada belirtin
            const newDurum = 'uygun';
            const parcelId = document.getElementById('selected-parcel-id-input').value;

            fetch(`/remove-parcel-user-list/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken, // Django CSRF koruma token'ı

                },
                body: JSON.stringify({
                    durum: newDurum,
                    parcel_id: parcelId,
                    user_id: newUser_id
                }),
            })
                .then(response => {
                    if (response.ok) {
                        // Güncelleme başarılı
                        // console.log('Durum başarıyla güncellendi.');
                        getParcels(JSON.parse(" {{ current_user.id }}"));

                        // İsteğe bağlı olarak sayfayı yenileyebilir veya gerekli işlemleri yapabilirsiniz.
                    } else {
                        // Güncelleme başarısız
                        console.error('Durum güncelleme hatası:', response.status);
                    }
                })
                .catch(error => {
                    console.error('İstek hatası:', error);
                });

            document.getElementById('modal-small').classList.add('hidden');
            showAndHideToast();

        }



        function createParcel(data) {
            // console.log(data);

            var table_body = document.getElementById('table-body');
            table_body.innerHTML = "";
            var table_html = "";


            for (let i = 0; i < Object.keys(data).length; i++) {


                if (data[i].durum == "uygun") {
                    var icon_color = "#057A55";
                } else if (data[i].durum == "beklemede") {
                    var icon_color = "#E3A008";

                } else if (data[i].durum == "onaylandi") {
                    var icon_color = "#C81E1E";
                } else {

                }

                var parcel_m2 = parseInt(data[i].m2_net);

                var html = `
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
            
            <td class="px-6 py-4  text-lg">
                <svg class="w-16 h-16 light:text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"
                    style="min-height: 16px; color: ${icon_color};">
                    <path
                        d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                </svg>
                
            </td>
            <td scope="row" class="text-lg px-6 py-4 font-medium  whitespace-nowrap dark:text-white">
                ${data[i].parsel}
            </td>
            <td class="px-6 py-4 text-lg">
                ${data[i].il}
    
            </td>
            <td class="px-6 py-4 text-lg">
                ${data[i].ilce} 
    
            </td>
            <td class="px-6 py-4 text-lg">
                ${parcel_m2}  M²
    
            </td>
            
            <td class="px-6 py-4 text-lg">
                ${data[i].mevki}
    
            </td>
            <td class="px-6 py-4 text-lg">
                ${data[i].ada}
    
            </td>
    
            <td class="px-6 py-4 text-lg">
                
                <a onclick="showFormModal(${data[i].id})"   class="font-medium text-indigo-600 dark:text-indigo-500 hover:underline"><span class="bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-3 py-1.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Form</span>
              </a>
            </td>

            <td class="px-6 py-4 text-lg">
                
                <a onclick="download_form(${data[i].id})"   class="font-medium text-purple-600 dark:text-purple-500 hover:underline"><span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-3 py-1.5 rounded dark:bg-purple-900 dark:text-purple-300">İndir</span>
              </a>
            </td>

            <td class="px-6 py-4 text-lg">
               
               <a onclick="onaylaButtonClick(${data[i].id})"   class="font-medium text-green-600 dark:text-green-500 hover:underline"><span class="bg-green-200 text-green-800 text-xs font-medium mr-2 px-3 py-1.5 rounded dark:bg-green-900 dark:text-green-300">Onayla</span>
              </a>
            </td>

            <td class="px-6 py-4 text-lg">
                
                <a onclick="cikarButtonClick(${data[i].id})"   class="font-medium text-red-600 dark:text-red-500 hover:underline"><span class="bg-red-200 text-red-800 text-xs font-medium mr-2 px-3 py-1.5 rounded dark:bg-red-900 dark:text-red-300">Çıkar</span>
                </a>
            </td>

        </tr>
                    
                    `;
                table_html += html;

            }

            table_body.innerHTML = table_html;


        }

        // data-modal-target="popup-modal" data-modal-toggle="popup-modal"



        document.getElementById('modal-close-no').addEventListener('click', function () {
            document.getElementById('modal-small').classList.add('hidden');
        });

        document.getElementById('modal-small').addEventListener('click', function (event) {
            if (event.target === this) {
                this.classList.add('hidden');
            }
        });




        var toast = document.getElementById('toast-success');

        function showAndHideToast() {
            // Toast mesajını görünür yap
            toast.style.display = 'block';
            toast.style.opacity = '1';

            // 4 saniye sonra tekrar gizle
            setTimeout(function () {
                toast.style.opacity = '0';
                setTimeout(function () {
                    toast.style.display = 'none';
                }, 500);
            }, 4000);
        }





        if (toast) {
            setTimeout(function () {
                toast.style.opacity = '0'; // Opaklığı sıfıra ayarla
                setTimeout(function () {
                    toast.style.display = 'none'; // Görünürlüğü kaldır
                }, 500); // 0.5 saniye sonra kaldır
            }, 4000); // 4 saniye sonra opaklığı sıfırla
        }






        // Tüm input elementlerini al

        // Boş input alanlarını kontrol et ve kırmızı yap
        function checkEmptyInput(event) {
            const inputElement = event.target;
            if (inputElement.value.trim() === '') {
                // inputElement.classList.add('border-red-500'); // Kırmızı kenarlık sınıfını ekle
            } else {
                inputElement.classList.remove('border-red-500'); // Kırmızı kenarlık sınıfını kaldır
                inputElement.classList.remove('bg-red-50'); // Kırmızı kenarlık sınıfını kaldır

            }
        }

        // Input değişikliklerinde kontrol et
        inputElements.forEach(function (inputElement) {
            inputElement.addEventListener('input', checkEmptyInput); // Input değişikliğinde çalışır
        });





        // Modal kapatma işlemi
        document.getElementById('modal-close').addEventListener('click', function () {
            document.getElementById('modal').classList.add('hidden');
        });

        document.getElementById('modal').addEventListener('click', function (event) {
            if (event.target === this) {
                this.classList.add('hidden');
            }
        });

































        var buttonElement = document.getElementById("logo-sidebar-button");
        buttonElement.parentNode.removeChild(buttonElement);







    </script>





</body>

</html>